@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    background: #0e1113;
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Noto Sans', sans-serif;
    color: #F2F4F5;
}

.disabled{
    background-color: #6c757d !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
    color: #F2F4F5 !important;
}

.a:hover{
    background-color: red !important;
}


.btn-pri{
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.btn-pri:hover:not(.disabled){
    background-color: #0056b3 !important;
    color: white !important;
}

.btn-alt{
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.btn-alt:hover{
    background-color: #007bff !important;
    color: white !important;
}

